rabbitmq:
  image: rabbitmq:management
  ports:
    - "5672:5672"
    - "15672:15672"

db:
  image: postgres
  restart: always
  ports:
    - "5432:5432"
  environment:
    POSTGRES_USER: admin
    POSTGRES_DB: database
    POSTGRES_HOST_AUTH_METHOD: trust
