<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="stdout" />
    </root>

</configuration>
