name: Lint & Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    name: "Test"
    services:
      db:
        image: postgres
        env:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: database
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        # Needed because the postgres container does not provide a health check.
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.13.0
      - name: Build with Gradle
        env:
          # Use postgres for the host here because we have specified a container for the job.
          # If we were running the job on the VM this would be localhost.
          DATBASE_URL: jdbc:postgresql://localhost:5432/database?user=admin&password=admin
        run: ./gradlew test
