name: Deploy

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: "Lint"
    steps:
      - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-13
        with:
          args: detekt
  test:
    runs-on: ubuntu-latest
    name: "Test"
    steps:
      - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-13
        with:
          args: test
